@model Firios.Entity.IncidentEntity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Výjezd";
}

<h1>Výjezd</h1>
<hr/>

<span id="IncidentId" style="display: none">@Html.DisplayFor(model => model.Id)</span>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mpd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mpd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ObjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>

<table class="table">
    <tr>
        <td>
            <button type="button" id="yes" class="btn btn-success w-100 h-100">Jedu</button>
        </td>
        <td>
            <button type="button" id="no" class="btn btn-danger w-100 h-100">Nejedu</button>
        </td>
    </tr>
    <tr>
        <td>
            <button type="button" id="on_place" class="btn btn-warning w-100 h-100">Na místo</button>
        </td>
        <td>
            <a asp-action="InteractiveIncident" asp-controller="Home" type="button" id="status" class="btn btn-info w-100 h-100">Stav</a>
        </td>
    </tr>
</table>

@section Scripts {
    <script>
        function sendState(state) {
            const data = {
                "incidentId": document.getElementById("IncidentId").textContent,
                "state": state,
                "session": getSession()
            };

            fetch('/api/IncidentEntities/registration', {
                    method: 'POST', // or 'PUT'
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        document.getElementById("yes").addEventListener("click", () => sendState("yes"));
        document.getElementById("no").addEventListener("click", () => sendState("no"));
        document.getElementById("on_place").addEventListener("click", () => sendState("on_place"));
    </script>
}